@media (max-width: 767px) {
  .spacing-200 {
    height: 80px;
  }
  .h1-bold,
  .h1-light {
    font-size: 36px;
    line-height: 48px;
  }
  /* mobile header */
  .button__book {
    display: none;
  }

  .header__top-bar {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }

  .header__main {
    display: none;
  }

  .header__btn-sign-in {
    display: none;
  }

  .bar span {
    background-color: white;
  }

  .header__logo {
    position: static;
    transform: none;
  }

  .header-top__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
  }

  .header__burgers.mobile {
    display: initial;
  }
  .header__sub-menu {
    top: 60px;
    height: calc(100vh - 60px);
    overflow-y: scroll;
  }

  .header__sub-menu::-webkit-scrollbar {
    display: none;
  }
  .header__sub-menu.scrolled-down {
    height: calc(100vh - 60px);
    overflow-y: scroll;
  }
  /* end mobile header */
  /* mobile banner */
  .banner-hero__heading {
    bottom: 40px;
  }
  /* end mobile banner */

  /* mobile winkroom */
  .wink-room__container {
    padding: 0 24px;
  }
  .wink-room__slide {
    aspect-ratio: 327 / 340;
  }
  .wink-room__heading .heading .before-elements {
    width: 220px;
  }
  .wink-room__heading .heading {
    padding-top: 24px;
  }
  .wink-room__heading {
    margin-bottom: 10px;
  }
  .offer__content {
    padding: 0 24px;
  }
  /* end mobile winkroom */

  /* mobile wink guide */
  .banner-guides__text h3 {
    font-size: 36px;
    line-height: 40px;
  }
  .banner-guides__text {
    left: 24px;
    max-width: 210px;
  }
  .banner-guides__content .content {
    padding: 0 24px;
    font-size: 36px;
    line-height: 48px;
  }
  .banner-guides__container {
    width: 100%;
    aspect-ratio: 327 / 340;
  }
  /* end wink guide */
  /* mobile feature image */
  .featured-image__container {
    padding: 0;
  }
  .featured-image__list {
    overflow-x: scroll;
    flex-wrap: nowrap;
    gap: 24px;
  }
  .featured-image__list::-webkit-scrollbar {
    display: none;
  }
  .featured-image__item {
    width: calc(100vw - 60px);
    height: auto;
    padding: 0;
  }
  .featured-image__item:last-child {
    width: auto;
    height: auto;
  }
  /* end mobile feature image */

  /* mobile comming soon */
  .comming-soon__container {
    flex-direction: column-reverse;
    padding: 0 20px;
    gap: 80px;
    cursor: auto;
  }

  .comming-soon .img__container img:nth-child(2) {
    top: 40px;
    left: 25px;
  }

  .comming-soon .img__container img {
    height: initial;
  }

  .spacing-120 {
    height: 60px;
  }
  .comming-soon__btn {
    display: flex;
    justify-content: center;
    gap: 15px;
  }

  .comming-soon__btn-prev,
  .comming-soon__btn-next {
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    border: 1px solid;
    cursor: pointer;
  }

  .comming-soon__btn-prev:hover,
  .comming-soon__btn-next:hover {
    background-color: black;
    color: white;
  }

  .comming-soon__btn-prev:active,
  .comming-soon__btn-next:active {
    background-color: black;
    color: white;
  }
  .comming-soon .img__container img:nth-child(2) {
    left: 17px;
  }
  /* end mobile comming soon */

  /* css mobile hotels */
  .hotels__container {
    padding: 0 24px;
  }
  .hotels__grid {
    grid-template-columns: repeat(1, 1fr);
  }
  /* end css mobile hotels */

  /* mobile section deals */
  .deals__container {
    padding: 0 24px;
  }

  .deals__header .deals__btn {
    display: none;
  }

  .deals__container .box {
    width: 100%;
    height: 100%;
  }

  .deals__container .box__wrapper {
    flex-wrap: nowrap;
    gap: 0;
    margin-bottom: 24px;
  }

  .deals .box__wrapper .box {
    height: auto;
  }

  .deals .box__container.swiper {
    margin-inline: initial;
  }

  .deals .swiper-button__container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
  }

  .deals .swiper-button-prev,
  .deals .swiper-button-next {
    position: static;
    font-size: 0;
    color: var(--black-color);
    width: 40px;
    height: 40px;
    border: solid 1px;
    margin-top: 0;
  }
  .deals .swiper-button-prev::after,
  .deals .swiper-button-next::after {
    font-size: 0;
  }
  .deals .swiper-button-prev:hover,
  .deals .swiper-button-next:hover {
    background-color: var(--color-black);
  }
  .deals .swiper-button-prev:hover svg path,
  .deals .swiper-button-next:hover svg path {
    fill: var(--color-white);
  }

  .deals .swiper-button-next svg,
  .deals .swiper-button-prev svg {
    width: auto;
    height: auto;
  }

  /* .deals .swiper-button-prev {
    left: calc(60% - 7rem);
  }

  .deals .swiper-button-next {
    right: calc(60% - 7rem);
  } */
  /* end section deals */
}
