@media (max-width: 767px) {
  .spacing-200 {
    height: 80px;
  }
  .button__book {
    display: none;
  }

  .header__top-bar {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }

  .header__main {
    display: none;
  }

  .header__btn-sign-in {
    display: none;
  }

  .bar span {
    background-color: white;
  }

  .header__logo {
    position: static;
    transform: none;
  }

  .header-top__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
  }

  .header__burgers.mobile {
    display: initial;
  }
  /* mobile wink guide */
  .banner-guides__text h3 {
    font-size: 36px;
    line-height: 40px;
  }
  .banner-guides__text {
    left: 24px;
    max-width: 210px;
  }
  .banner-guides__content .content {
    padding: 0 24px;
    font-size: 36px;
    line-height: 48px;
  }
  .banner-guides__container {
    width: 100%;
    aspect-ratio: 327 / 340;
  }
  /* end wink guide */
  /* mobile feature image */
  .featured-image__container {
    padding: 0;
  }
  .featured-image__list {
    overflow-x: scroll;
    flex-wrap: nowrap;
    gap: 24px;
  }
  .featured-image__list::-webkit-scrollbar {
    display: none;
  }
  .featured-image__item {
    width: calc(100vw - 60px);
    height: auto;
    padding: 0;
  }
  .featured-image__item:last-child {
    width: auto;
    height: auto;
  }
  /* end mobile feature image */

  /* mobile comming soon */
  .comming-soon__container {
    flex-direction: column-reverse;
    padding: 0 20px;
    gap: 80px;
    cursor: auto;
  }

  .comming-soon .img__container img:nth-child(2) {
    top: 40px;
    left: 25px;
  }

  .comming-soon .img__container img {
    height: initial;
  }

  .spacing-120 {
    height: 60px;
  }
  .comming-soon__btn {
    display: flex;
    justify-content: center;
    gap: 15px;
  }

  .comming-soon__btn-prev,
  .comming-soon__btn-next {
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    border: 1px solid;
    cursor: pointer;
  }

  .comming-soon__btn-prev:hover,
  .comming-soon__btn-next:hover {
    background-color: black;
    color: white;
  }

  .comming-soon__btn-prev:active,
  .comming-soon__btn-next:active {
    background-color: black;
    color: white;
  }
  .comming-soon .img__container img:nth-child(2) {
    left: 17px;
  }
  /* end mobile comming soon */
}
